<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t(:tournament), style: "display: block" %>
    <%= form.select(:tournament_id, options_for_select(@tournaments_array, team.tournament_id)) %>
  </div>

  <div>
    <%= form.label t(:team_name), style: "display: block" %>
    <%= form.text_field :team_name %>
  </div>

  <div>
    <%= form.label t(:color_shirt1), style: "display: block" %>
    <%= form.text_field :color_shirt1 %>
  </div>

  <div>
    <%= form.label t(:color_short1), style: "display: block" %>
    <%= form.text_field :color_short1 %>
  </div>

  <div>
    <%= form.label t(:color_shirt2), style: "display: block" %>
    <%= form.text_field :color_shirt2 %>
  </div>

  <div>
    <%= form.label t(:color_short2), style: "display: block" %>
    <%= form.text_field :color_short2 %>
  </div>

  <div>
    <%= form.label t(:color_shirt3), style: "display: block" %>
    <%= form.text_field :color_shirt3 %>
  </div>

  <div>
    <%= form.label t(:color_short3), style: "display: block" %>
    <%= form.text_field :color_short3 %>
  </div>

  <div>
    <%= form.label t(:delegate_name), style: "display: block" %>
    <%= form.text_field :delegate_name %>
  </div>

  <div>
    <%= form.label t(:delegate_last_name), style: "display: block" %>
    <%= form.text_field :delegate_last_name %>
  </div>

  <div>
    <%= form.label t(:head_coach_name), style: "display: block" %>
    <%= form.text_field :head_coach_name %>
  </div>

  <div>
    <%= form.label t(:head_coach_last_name), style: "display: block" %>
    <%= form.text_field :head_coach_last_name %>
  </div>

  <div>
    <%= form.label t(:assistant_coach1_name), style: "display: block" %>
    <%= form.text_field :assistant_coach1_name %>
  </div>

  <div>
    <%= form.label t(:assistant_coach1_last_name), style: "display: block" %>
    <%= form.text_field :assistant_coach1_last_name %>
  </div>

  <div>
    <%= form.label t(:assistant_coach2_name), style: "display: block" %>
    <%= form.text_field :assistant_coach2_name %>
  </div>

  <div>
    <%= form.label t(:assistant_coach2_last_name), style: "display: block" %>
    <%= form.text_field :assistant_coach2_last_name %>
  </div>

  <div>
    <%= form.label t(:doctor_name), style: "display: block" %>
    <%= form.text_field :doctor_name %>
  </div>

  <div>
    <%= form.label t(:doctor_last_name), style: "display: block" %>
    <%= form.text_field :doctor_last_name %>
  </div>

  <div>
    <%= form.label t(:physiotherapist_name), style: "display: block" %>
    <%= form.text_field :physiotherapist_name %>
  </div>

  <div>
    <%= form.label t(:physiotherapist_last_name), style: "display: block" %>
    <%= form.text_field :physiotherapist_last_name %>
  </div>

  <div>
    <%= form.label t(:statistical_name), style: "display: block" %>
    <%= form.text_field :statistical_name %>
  </div>

  <div>
    <%= form.label t(:statistical_last_name), style: "display: block" %>
    <%= form.text_field :statistical_last_name %>
  </div>

  <div>
    <%= form.label t(:international_referee_name), style: "display: block" %>
    <%= form.text_field :international_referee_name %>
  </div>

  <div>
    <%= form.label t(:international_referee_last_name), style: "display: block" %>
    <%= form.text_field :international_referee_last_name %>
  </div>

  <div>
    <%= form.submit @action_buttom_label %>
  </div>
<% end %>
