<div id="<%= dom_id team %>">
  <p>
    <strong><%= t(:tournament) %>:</strong>
    <%= team.tournament.name %>
  </p>

  <p>
    <strong><%= t(:team_name) %>:</strong>
    <%= team.team_name %>
  </p>

  <p>
    <strong><%= t(:color_shirt1) %>:</strong>
    <%= team.color_shirt1 %>
  </p>

  <p>
    <strong><%= t(:color_short1) %>:</strong>
    <%= team.color_short1 %>
  </p>

  <p>
    <strong><%= t(:color_shirt2) %>:</strong>
    <%= team.color_shirt2 %>
  </p>

  <p>
    <strong><%= t(:color_short2) %>:</strong>
    <%= team.color_short2 %>
  </p>

  <p>
    <strong><%= t(:color_shirt3) %>:</strong>
    <%= team.color_shirt3 %>
  </p>

  <p>
    <strong><%= t(:color_short3) %>:</strong>
    <%= team.color_short3 %>
  </p>

  <p>
    <strong><%= t(:delegate_name) %>:</strong>
    <%= team.delegate_name %>
  </p>

  <p>
    <strong><%= t(:delegate_last_name) %>:</strong>
    <%= team.delegate_last_name %>
  </p>

  <p>
    <strong><%= t(:head_coach_name) %>:</strong>
    <%= team.head_coach_name %>
  </p>

  <p>
    <strong><%= t(:head_coach_last_name) %>:</strong>
    <%= team.head_coach_last_name %>
  </p>

  <p>
    <strong><%= t(:assistant_coach1_name) %>:</strong>
    <%= team.assistant_coach1_name %>
  </p>

  <p>
    <strong><%= t(:assistant_coach1_last_name) %>:</strong>
    <%= team.assistant_coach1_last_name %>
  </p>

  <p>
    <strong><%= t(:assistant_coach2_name) %>:</strong>
    <%= team.assistant_coach2_name %>
  </p>

  <p>
    <strong><%= t(:assistant_coach2_last_name) %>:</strong>
    <%= team.assistant_coach2_last_name %>
  </p>

  <p>
    <strong><%= t(:doctor_name) %>:</strong>
    <%= team.doctor_name %>
  </p>

  <p>
    <strong><%= t(:doctor_last_name) %>:</strong>
    <%= team.doctor_last_name %>
  </p>

  <p>
    <strong><%= t(:physiotherapist_name) %>:</strong>
    <%= team.physiotherapist_name %>
  </p>

  <p>
    <strong><%= t(:physiotherapist_last_name) %>:</strong>
    <%= team.physiotherapist_last_name %>
  </p>

  <p>
    <strong><%= t(:statistical_name) %>:</strong>
    <%= team.statistical_name %>
  </p>

  <p>
    <strong><%= t(:statistical_last_name) %>:</strong>
    <%= team.statistical_last_name %>
  </p>

  <p>
    <strong><%= t(:international_referee_name) %>:</strong>
    <%= team.international_referee_name %>
  </p>

  <p>
    <strong><%= t(:international_referee_last_name) %>:</strong>
    <%= team.international_referee_last_name %>
  </p>

  <p>
    <strong><%= 'Imagen del equipo' %>:</strong>
    <% if team.image.present? %>
      <%= image_tag team.image %>
    <% end %>
  </p>

</div>
