<div class="px-3 py-2 border rounded-bottom">
  <%= form_with(model: announcement) do |form| %>
    <% if announcement.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

        <ul>
          <% announcement.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'PDF de la convocatoria en español', class: "form-label" %>
      <% if announcement.pdf_es_file.present? %>
        arcivo actual: <strong> <%= announcement.pdf_es_file.filename %> </strong> <br>
      <% end %>
      <%= form.file_field :pdf_es_file, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'PDF de la convocatoria en ingles', class: "form-label" %>
      <% if announcement.pdf_en_file.present? %>
        arcivo actual: <strong> <%= announcement.pdf_en_file.filename %> </strong> <br>
      <% end %>
      <%= form.file_field :pdf_en_file, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'Imagen de la convocatoria', class: "form-label" %>
      <% if announcement.image.present? %>
        <%= image_tag announcement.image, style: "display: block" %>
      <% end %>
      <%= form.file_field :image, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary mb-2" %>
    </div>
  <% end %>
</div>
