<p style="color: green"><%= notice %></p>

<div class="shadow p-3 rounded-3">
  <h1 class="text-center border-bottom pb-2">
    Announcements
    <a href="<%= new_announcement_path %>" style="text-decoration: none" class="ms-3">
      <i class="fa-solid fa-circle-plus fa-xs"></i>
    </a>
  </h1>

  <div id="announcements" class="mt-2 row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
    <% @announcements.each do |announcement| %>
      <div class="col">
        <div class="card">
          <a href="<%= announcement_path(announcement) %>">
            <% if announcement.image.present? %>
              <%= image_tag announcement.image, class: 'card-img-top' %>
            <% end %>
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="<%= announcement_path(announcement) %>" class="link-dark" style="text-decoration: none">
                <%= announcement.title.truncate(50) %>
              </a>
            </h5>
            <p class="card-text">
              <%= announcement.description.truncate(90) %>
              <a href="<%= announcement_path(announcement) %>"> Leer más. </a>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">
              Creada el <%= announcement.created_at.strftime('%b %d, %Y') %>
              <br>
              Ultima modificación <%= announcement.updated_at.strftime('%b %d, %Y') %>
              <br>
              Escrita por <%= announcement.user.email %>
              <br>
              <div class="row ms-0 mt-1">
                <div class="border rounded-circle position-relative bg-white" style="width: 30px; height: 30px">
                  <a href="<%= edit_announcement_path(announcement) %>" style="text-decoration: none" class="link-success position-absolute top-50 start-50 translate-middle">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </div>
                <div class="border rounded-circle position-relative bg-white ms-1" style="width: 30px; height: 30px">
                  <a href="/" style="text-decoration: none" class="link-danger position-absolute top-50 start-50 translate-middle">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </div>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New announcement", new_announcement_path, class: 'btn btn-primary mt-3' %>
</div>
