<div class="px-3 py-2 border rounded-bottom">
  <%= form_with(model: article) do |form| %>
    <% if article.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'PDF de la noticia en español', class: "form-label" %>
      <% if article.pdf_es_file.present? %>
        Arcivo actual: <strong> <%= article.pdf_es_file.filename %> </strong> <br>
      <% end %>
      <%= form.file_field :pdf_es_file, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'PDF de la noticia en ingles', class: "form-label" %>
      <% if article.pdf_en_file.present? %>
        Arcivo actual: <strong> <%= article.pdf_en_file.filename %> </strong> <br>
      <% end %>
      <%= form.file_field :pdf_en_file, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label 'Imagen de la noticia', class: "form-label" %>
      <% if article.image.present? %>
        <%= image_tag article.image, style: "display: block" %>
      <% end %>
      <%= form.file_field :image, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary mb-2" %>
    </div>
  <% end %>
</div>
