<div class="shadow p-2 pt-2 rounded-2">
  <h3 class="mb-0">
    <a href="<%= articles_path %>" style="text-decoration: none">
      <i class="fa-regular fa-circle-left fa-sm"></i>
    </a><%= @article.title %>
  </h3>
  <p class="ms-2 text-secondary"> Convocatoria creada el <%= @article.created_at.strftime('%b %d, %Y') %> </p>
  <% if @article.image.present? %>
    <%= image_tag @article.image, class: 'img-fluid rounded-2 w-100 mb-1' %>
  <% end %>
  <p class="my-2 border-top border-2"><%= simple_format @article.description %></p>

  <h5>Archivos de la noticia</h5>

  <div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
    <% if @article.pdf_es_file.present? %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <%= @article.pdf_es_file.filename %> </h5>
            <p class="card-text">Archivo en español</p>
            <%= link_to(
                  'Ver archivo',
                  rails_blob_path(@article.pdf_es_file, disposition: 'preview'),
                  class: 'card-link'
                ) %>
            <%= link_to(
                  'Descargar',
                  rails_blob_path(@article.pdf_es_file, disposition: 'attachment'),
                  class: 'card-link'
                ) %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @article.pdf_en_file.present? %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <%= @article.pdf_en_file.filename %> </h5>
            <p class="card-text">Archivo en ingles</p>
            <%= link_to(
                  'Ver archivo',
                  rails_blob_path(@article.pdf_en_file, disposition: 'preview'),
                  class: 'card-link'
                ) %>
            <%= link_to(
                  'Descargar',
                  rails_blob_path(@article.pdf_en_file, disposition: 'attachment'),
                  class: 'card-link'
                ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <p class="ms-2 text-secondary mb-0"> Ultima modificación <%= @article.updated_at.strftime('%b %d, %Y') %> </p>
  <p class="ms-2 text-secondary mt-0"> Convocatoria escrita por <%= @article.user.email %> </p>

  <%= link_to "Back to articles", articles_path, class: 'btn btn-outline-secondary' %>
  <%= link_to "Edit this article", edit_article_path(@article), class: 'btn btn-outline-info' %>
</div>

<div>
  <%= button_to "Destroy this article", @article, method: :delete, class: 'btn btn-outline-danger mt-3' %>
</div>
