<%= form_with(model: statistic) do |form| %>
  <% if statistic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

      <ul>
        <% statistic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label 'PDF de la estadistica en español', style: "display: block" %>
    <% if statistic.pdf_es_file.present? %>
      Arcivo actual: <%= statistic.pdf_es_file.filename %> <br>
    <% end %>
    <%= form.file_field :pdf_es_file %>
  </div>

  <div>
    <%= form.label 'PDF de la estadistica en ingles', style: "display: block" %>
    <% if statistic.pdf_en_file.present? %>
      Arcivo actual: <%= statistic.pdf_en_file.filename %> <br>
    <% end %>
    <%= form.file_field :pdf_en_file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
