<div id="<%= dom_id statistic %>">
  <p>
    <strong>Title:</strong>
    <%= statistic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= statistic.description %>
  </p>

  <p>
    <strong>Esta estadistica fue hecha por:</strong>
    <%= statistic.user.email %>
  </p>

  <% if statistic.pdf_es_file.present? %>
    <p>
      <strong>Vista del PDF en español de la estadistica:</strong>
      <%= link_to statistic.pdf_es_file.filename, rails_blob_path(statistic.pdf_es_file, disposition: 'preview') %>
    </p>

    <p>
      <strong>Descarga del PDF en español de la estadistica:</strong>
      <%= link_to statistic.pdf_es_file.filename, rails_blob_path(statistic.pdf_es_file, disposition: 'attachment') %>
    </p>
  <% end %>

  <% if statistic.pdf_en_file.present? %>
    <p>
      <strong>Vista del PDF en ingles de la estadistica:</strong>
      <%= link_to statistic.pdf_en_file.filename, rails_blob_path(statistic.pdf_en_file, disposition: 'preview') %>
    </p>

    <p>
      <strong>Descarga del PDF en ingles de la estadistica:</strong>
      <%= link_to statistic.pdf_en_file.filename, rails_blob_path(statistic.pdf_en_file, disposition: 'attachment') %>
    </p>
  <% end %>

</div>
