<div class="px-3 py-2 rounded-3">
  <%= form_with url: @form_path, method: @form_method, model: user do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label t(:user_name), style: "display: block", class: "form-label" %>
      <%= form.text_field :user_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label t(:email), style: "display: block", class: "form-label" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label t(:name).pluralize, style: "display: block", class: "form-label" %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label t(:last_name).pluralize, style: "display: block", class: "form-label" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <% if current_user.id != @user.id %>
      <div class="mb-3">
        <%= form.label t(:password), style: "display: block", class: "form-label" %>
        <div class="input-group">
          <%= form.password_field :password, class: "form-control", disabled: @form_method == :patch, value: @form_method == :patch ? '***********' : User.random_password %>
          <button class="btn btn-outline-secondary <%= "d-none" if @form_method == :patch %>" type="button" id="show_password" onclick="showPassword()">
            <i id="eye_icon" class="fa-regular fa-eye"></i>
          </button>
          <% if @form_method == :patch %>
            <button class="btn btn-outline-secondary" type="button" id="change_password" onclick="changePassword()">
              Cambiar contrseña
            </button>
          <% end %>
        </div>
        <div id="passwordHelp" class="form-text <%= "d-none" if @form_method == :patch %>">
          Se enviara un correo al usuario con la nueva contraseña
        </div>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label 'Rol', class: "form-label" %>
      <%= form.select(:permission, options_for_select(@permissions_array, user.permission), {}, class: "form-select") %>
    </div>

    <div class="mb-3" id="tournament_div">
      <%= form.label t(:tournament_where_team_is_managed), class: "form-label" %>
      <%= form.select(:tournament_id, options_for_select(@tournaments_array, user.tournament_id), {}, class: "form-select", disabled: @disabled_tournament) %>
    </div>

    <div class="mb-3">
        <% if @disabled_tournament %>
          <%= form.label t(:user_team_warning), class: "form-label text-danger" %>
        <% else %>
          <%= form.label t(:team_name), class: "form-label" %>
        <% end %>
        <%= form.select(:team_id, [], {}, class: "form-select", disabled: @disabled_tournament) %>
    </div>

    <div>
      <%= form.submit @action_buttom_label, class: "btn btn-primary mb-2" %>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  const changePassword = () => {
    const passwordHelp = document.getElementById('passwordHelp').classList;
    const passwordField = document.getElementById('user_password');
    const changeButton = document.getElementById('change_password');
    const eyeButton = document.getElementById('show_password').classList;
    if (passwordHelp.contains('d-none')){
      passwordHelp.remove("d-none");
      eyeButton.remove("d-none");
      passwordField.removeAttribute("disabled");
      passwordField.value = Math.random().toString(36).slice(-11);
      changeButton.innerHTML = "No cambiar";
    } else {
      passwordHelp.add("d-none");
      eyeButton.add("d-none");
      passwordField.setAttribute("disabled", "true");
      passwordField.value = "***********";
      passwordField.type = "password";
      changeButton.innerHTML = "Cambiar contraseña";
    }

    const eye_icon = document.getElementById('eye_icon').classList;
    if (eye_icon.contains("fa-eye-slash")) {
      eye_icon.replace("fa-eye-slash", "fa-eye");
    }
  };

  const showPassword = () => {
    const passwordField = document.getElementById('user_password');
    const eyeIcon = document.getElementById('eye_icon').classList;
    if (passwordField.type === "password") {
      passwordField.type = "text";
      eyeIcon.replace("fa-eye", "fa-eye-slash");
    } else {
      passwordField.type = "password";
        eyeIcon.replace("fa-eye-slash", "fa-eye");
    }
  };
</script>
