<div id="<%= dom_id user %>">
  <p>
    <strong><%= t(:email) %>:</strong>
    <%= user.email %>
  </p>

  <% if(user.isInternacional?) %>
    <p>
      <strong><%= t(:tournament_where_team_is_managed) %>:</strong>
      <% if user.tournament.nil? %>
        <%= t(:without_tournament) %>
      <% else %>
        <%= user.tournament.name %>
      <% end %>
    </p>
  <% end %>

  <p>
    <strong>Rol:</strong>
    <%= t(User::TYPE_PERMISSION.key(user.permission)) %>
  </p>
</div>
