<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to t(:edit_this_user), edit_user_path(@user) %> |
  <%= link_to t(:back_to_users), users_path %>

  <%= button_to t(:destroy_this_user), @user, method: :delete %>
</div>
