<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t(:name), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label t(:description), style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label t(:international), style: "display: block" %>
    <%= form.check_box :international %>
  </div>

  <div>
    <%= form.label t(:tournament_image), style: "display: block" %>
    <% if tournament.image.present? %>
      <%= image_tag tournament.image, style: "display: block" %>
    <% end %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit @action_buttom_label %>
  </div>
<% end %>
