<div id="<%= dom_id tournament %>">
  <p>
    <strong><%= t(:name) %>:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong><%= t(:description) %>:</strong>
    <%= tournament.description %>
  </p>

  <p>
    <strong><%= t(:international) %>:</strong>
    <%= tournament.international %>
  </p>

</div>
