<p style="color: green"><%= notice %></p>

<div class="shadow p-3 rounded-3">
  <h1 class="text-center border-bottom pb-2">
    <%= t(:tournaments) %>
    <a href="<%= new_tournament_path %>" style="text-decoration: none" class="ms-3">
      <i class="fa-solid fa-circle-plus fa-xs"></i>
    </a>
  </h1>

  <!-- Formulario de búsqueda -->
  <div class="text-center mt-3">
    <%= form_with url: tournaments_path, method: :get, local: true, class: "d-inline-block w-50" do |form| %>
      <div class="input-group">
        <%= form.text_field :search, value: params[:search], placeholder: t(:search_by_name), class: "form-control" %>
        <button type="submit" class="btn btn-outline-primary">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div id="tournaments" class="mt-2 row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
    <% @tournaments.each_with_index do |tournament, index| %>
      <div class="col">
        <div class="card <%= "bg-black bg-opacity-25" unless tournament.enabled%>">
          <a href="<%= tournament_path(tournament) %>">
            <% opacity = tournament.enabled ? 'opacity: 1;' : 'opacity: 0.3;' %>
            <% if tournament.image.present? %>
              <%= image_tag tournament.image, class: 'card-img-top', style: opacity %>
            <% else %>
              <%= image_tag("tournament_ball.jpg", alt: 'Generic tournament img', class: 'card-img-top', style: opacity) %>
            <% end %>
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="<%= tournament_path(tournament) %>" class="link-dark" style="text-decoration: none">
                <%= tournament.truncate_name %>
              </a>
            </h5>
            <p class="card-text">
              <%= tournament.description&.truncate(90) %>
              <a href="<%= tournament_path(tournament) %>"> Leer más. </a>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">
              <div class="row ms-0 mt-1">
                <div class="border rounded-circle position-relative bg-white" style="width: 30px; height: 30px">
                  <a href="<%= edit_tournament_path(tournament) %>" style="text-decoration: none" class="link-success position-absolute top-50 start-50 translate-middle">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </div>
                <div class="border rounded-circle position-relative bg-white ms-1" style="width: 30px; height: 30px">
                  <a href="#" style="text-decoration: none" class="link-danger position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#modal-<%= index %>">
                    <i class="fa-solid <%= tournament.enabled ? "fa-eye-slash" : "fa-eye" %>"></i>
                  </a>

                  <div class="modal fade" id="modal-<%= index %>" tabindex="-1" aria-labelledby="modal-<%= index %>Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-body">
                          <p class="text-center fs-5 fw-bold">Esta seguro de <%= tournament.enabled ? "deshabilitar" : "habilitar" %> el torneo: "<%= tournament.name %>"?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <%= button_to "Aceptar", enable_change_tournament_path(tournament), method: :patch, class: "btn btn-danger" %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to t(:new_tournament), new_tournament_path, class: 'btn btn-primary mt-3' %>
</div>
