<%= image_tag("banner.jpeg", alt: 'FNVB', class: 'img-fluid') %>
<div class="w-100">
  <hr class="border border-1 opacity-100 w-75 mt-4 mx-auto border border-primary">
</div>
<div class="row row-cols-auto mx-0">
  <i class="col fa-solid fa-star pe-1 ps-0 text-danger"></i>
  <i class="col fa-solid fa-star px-1 text-danger"></i>
  <i class="col fa-solid fa-star px-1 text-danger"></i>
  <p class="col fw-bold px-1 mb-0" style="color: #07008a"><%= t(:last_new) %></p>
</div>
<div class="px-0">
  <hr class="border border-primary border-3 opacity-100 w-100 mt-0">
</div>
<div class="row">
  <% @threeArticles.each do |article| %>
    <div class="col-xl-4 col-md-6 mb-3">
      <a href="<%= article_path(article) %>">
        <div class="card">
          <%= image_tag(article.image, class: 'card-img') %>
          <div class="card-img-overlay p-0">
            <div class="h-50"></div>
            <div class="bg-primary h-50 opacity-50 rounded-bottom"></div>
          </div>
          <div class="card-img-overlay">
            <div class="d-flex align-items-end h-100">
              <h4 class="text-white">
                <%= article.title %>
              </h4>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to("Ver màs", articles_path, class: "btn btn-outline-danger") %>
</div>

<h3 class="text-center pb-3 pt-5">EVENTOS DE CICLO OLÍMPICO</h3>

<div class="row">
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("eco1.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("eco2.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("eco3.jpg", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("eco4.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
</div>

<div class="px-0">
  <hr class="border border-primary border-2 opacity-100 w-100 mt-0 rounded-3">
</div>

<h3 class="text-center py-5">PATROCINADORES PROGRAMA TOP COI</h3>

<div class="row">
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt1.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt2.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt3.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt4.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
</div>

<div class="px-0 py-3">
  <hr class="border border-primary border-2 opacity-100 w-100 mt-0 rounded-3">
</div>

<div class="row">
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt5.jpg", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt6.jpg", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt7.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
  <div class="col-lg-3 col-sm-6 d-flex align-items-center justify-content-center">
    <%= image_tag("ppt8.png", alt: 'eco1', class: 'img-fluid') %>
  </div>
</div>
