<div id="<%= dom_id game %>">
  <p>
    <strong>Winning team:</strong>
    <%= game.winning_team %>
  </p>

  <p>
    <strong>Lose team:</strong>
    <%= game.lose_team %>
  </p>

  <p>
    <strong>Win Score:</strong>
    <%= game.win_score %>
  </p>

  <p>
    <strong>Lose Score:</strong>
    <%= game.lose_score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

</div>
