<div id="<%= dom_id calendar %>">
  <p>
    <strong>Team1:</strong>
    <%= calendar.team1 %>
  </p>

  <p>
    <strong>Team2:</strong>
    <%= calendar.team2 %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= calendar.stage %>
  </p>

  <p>
    <strong>Start date time:</strong>
    <%= calendar.start_date_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= calendar.status %>
  </p>

</div>
