<div class="px-3 py-2 border rounded-bottom">
  <%= form_with(model: calendar) do |form| %>
    <% if calendar.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

        <ul>
          <% calendar.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label 'Torneo', class: "form-label" %>
      <%= form.select(:tournament_id, options_for_select(@tournaments_array, calendar.tournament_id), {}, class: "form-select") %>
    </div>

    <div class="mb-3">
      <%= form.label :team1, class: "form-label" %>
      <%= form.select(:team1, [], {}, class: "form-select") %>
    </div>

    <div class="mb-3">
      <%= form.label :team2, class: "form-label" %>
      <%= form.select(:team2, [], {}, class: "form-select") %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :stage, class: "form-label" %>
      <%= form.select(:stage, options_for_select(@stage_array, calendar.stage), {}, class: "form-select") %>
    </div>

    <div class="mb-3">
      <%= form.label :start_date_time, class: "form-label" %>
      <%= form.datetime_local_field :start_date_time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :status, class: "form-label" %>
      <%= form.select(:status, options_for_select(@status_array, calendar.status), {}, class: "form-select") %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary mb-2" %>
    </div>
  <% end %>
</div>