<div class="d-flex justify-content-center">
  <div style="width: 350px">
    <div class="shadow mb-3">
      <div class="border rounded-top border-bottom-0">
        <h2 class="text-center m-0 py-2">Change your password</h2>
      </div>

      <div class="px-3 py-2 border rounded-bottom">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, "New password", class: "form-label" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div>
            <%= f.submit "Change my password", class: "btn btn-primary mb-2" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>
