<div class="d-flex justify-content-center">
  <div style="width: 400px">
    <div class="shadow mb-3">
      <div class="border rounded-top border-bottom-0">
        <h2 class="text-center m-0 py-3">Olvido su contraseña?</h2>
      </div>

      <div class="px-3 py-2 border rounded-bottom mb-4">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="mb-4 mt-2">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="d-flex justify-content-center">
            <%= f.submit t(:password_instructions), class: "btn btn-primary mb-2" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "users/shared/links" %>
  </div>
</div>
